.interaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.logo-box {
  margin-bottom: 40px;
  color: #ff5722; 
  font-weight: bold;
  font-size: 1.2rem;
}

.icon-btn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #aaa;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  border-left: 4px solid transparent; 

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  
  &.active {
    color: white;
    border-left: 4px solid red; 
    background-color: #2a2a2a;
  }

  .text-icon {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
